* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  padding: 3rem;
}

h1 {
  color: #d3d3d3;
  text-transform: uppercase;
  align-self: center;
  padding: 2rem;
}

main div {
  align-self: center;
}

form {
  width: 25rem;
}

input,
select {
  margin: 0.5rem;
  height: 2rem;
  padding: 0.2rem;
}

button {
  height: 2rem;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: blue;
  margin-top: 0.5rem;
}
